/* colors: red: #f7484e grey: #292929 */


body {
    background-color: #292929;

}


.navbar {
    background-color: #292929;
    border-bottom: none;
    padding-top: 20px;
}

.navbar .nav li a {
    font-size: 1.7em;
    color: #f7484e;
    font-family: Gentium Basic, sans-serif;
    -webkit-transition: 0.3s;
}

.navbar .nav li a:hover {
    color: #fddcdc;
    border-bottom: 0.2px solid #fddcdc;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

@media (min-width: 768px) {
    .center-nav {
        width: 452px;
        margin: 0 auto;
        
    
    }
}



section.section-one  {

    margin-top: 70px;
    background-color: #292929;
    text-align: center;
    font-family: Gentium Basic, sans-serif;
    height: 100vh;
    padding-top: 70px;


}


section.section-two  {

    margin-top: 70px;
    background-color: #292929;
    text-align: center;
    font-family: Gentium Basic, sans-serif;
    height: 100vh;
    padding-top: 70px;
}



section.section-three  {

    margin-top: 70px;
    border-color: #292929;
    text-align: center;
    font-family: Gentium Basic, sans-serif;
    height: 100vh;
    padding-top: 70px;

}

section.section-four  {

    margin-top: 70px;
    background-color: #292929;
    text-align: center;
    font-family: Gentium Basic, sans-serif;
    height: 100vh;
    padding-top: 70px;
}


section.section-four.label {
    display: block;
    margin-top: 20px;
    letter-spacing: 2px;

}

input {
    margin-top: 24px;
}

textarea {
    margin-top: 24px;
}

button {
    margin-top: 24px;
}

div.panel-body{
    background-color: #292929;

}

div.panel-default {
    padding-left: inherit;
    padding-right: inherit;
}






























